.tile
  position: absolute
  cursor: default
  user-select: none

  & > *
    border: 1px solid gray
    position: absolute
    width: 16px
    height: 16px
    border-width: 2px
    border-style: solid
    border-color: white gray gray white
    font-size: 10px
    text-align: center
    line-height: 14px

.open
  border-width: 1px
  border-color: gray